* {
  box-sizing: border-box;
}

:root {
  --ui-font: 'Comfortaa', sans-serif;
  --content-font: 'Open Sans', serif;
  --title-font: 'Open Sans', serif;
  --monospace-font: 'Nova Mono', monospace;
  --foreground: white;
  --background: #222;
  --shaded: #555;
  --shaded-light: #888;
  --shaded-dark: #333;
  --border: #AAA;
  --accent: #623b62;
  font-size: 16px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  touch-action: manipulation;
  background: var(--background);
  color: var(--foreground);
}

.sr-only {
  position: absolute;
  left: -1000px;
  opacity: 0;
}

podcast-list {
  display: block;
  flex: 1;
  overflow-y: scroll;
}

audio-player {
  box-shadow: 0 -8px 8px rgba(0, 0, 0, .1);
  position: sticky;
  bottom: 0;
}
